.container {
  border: solid black;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.title {
  text-align: center;
}

.warning {
  font: red;
}

#dontshow {
  display: none;
}

#tool-gfxtest {
  list-style-image: url(chrome://reftest/skin/icon32.png);
}